@model WebAppTilaus.Models.Postitoimipaikat

@{
    ViewBag.Title = "Delete";
}

<h2>Poista</h2>

<h3>Haluatko varmasti poistaa postitoimipaikan tiedot?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Postitoimipaikka)</dt>

        <dd>@Html.DisplayFor(model => model.Postitoimipaikka)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
