@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hevosenkengänkatu 2<br />
    Porvoo<br />
    <abbr title="Puhelin">P:</abbr>
    045-76589765
</address>

