@using System.Globalization

@{
    ViewBag.Title = "Tilaus DB";
}


<div class="jumbotron">

    <h2>@ViewBag.Title</h2>
    <p class="lead">Tämä on TilausDB</p>
    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US"))</p>
</div>






