@using System.Globalization
@{
    ViewBag.Title = "Pääsivu";
}

<div class="jumbotron">
    <h1>TilausDB</h1>
    <h2>@ViewBag.Title</h2>
    <p class="lead">Tämä on TilausDB</p>
    @for (int i = 0; i < 10; i++)
    {
        <p>@i</p>
    }

    @*<p>Nyt on @DateTime.Now</p>*@
    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US"))</p>
</div>

